{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">ფინალური პროექტი</h1>
      <p>
        ეს არის თამაშების მარკეტის ვებსაიტი. საიტზე შეაძლებელია რეგისტრაცია, თამაშის განთავსება/რედაქტირება, თამაშის ატვირთვა შეუძლია მხოლოდ დარეგისტრირებულ მომხმარებელს და ადმინს. ასევე სანამ არ დაადასტურებს პოდუქტს მანამ არ გამოჩნდება ის მთავარ გვერდზე....
      </p>
      <center><img src="/static/TBC.jpeg" alt="TBC Bank Logo" class="img-fluid mt-4" style="max-width: 300px; height: auto; border-radius: 20px;"></center>
    </div>
  </div>
</div>

{% endblock %}