<footer class="text-center text-lg-start  text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #ffffff;">
            <i class="fas fa-gem me-3"></i>Game Market
          </h6>
          <p style="color: #ffffff;">
            One of the best games market in the world
          </p>
          <br>
          <img src="/static/TBC logo.svg" alt="Logo" width="150" height="auto" class="d-inline-block align-text-center" style="border-radius: 10px;">
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: #ffffff;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #ffffff;">
            Useful links
          </h6>
          <p>
            <a href="/" class="text-reset">Home</a>
          </p>
          <p>
            <a href="#" class="text-reset">About Us</a>
          </p>
          <p>
            <a href="/upload_game" class="text-reset">Upload Game</a>
          </p>
          <p>
            <a href="/login" class="text-reset">Log In</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: #ffffff;">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            adamialado133@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 599 45 22 74</p>
        </div>
      </div>
    </div>
  </section>
</footer>