{% extends "base.html" %}

{% block content %}
        <center><div class="row row-cols-1 row-cols-md-4 g-4">
            {% for product in user_products %}
            <div class="col">
                <div class="card" style="width: 18rem; background-color: #26262b">
                    <img src="/static/{{ product.img }}" class="card-img-top">
                    <div class="card-body" style="color: #fff;">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }} $</p>
                        <a class="btn btn-outline-primary" style="width: 200px; margin-top:5px" type="button" href="/view_product/{{ product.id }}">Download And Play</a>
                        <br>
                        <a class="btn btn-outline-warning" style="width: 200px; margin-top:5px" type="button" href="/edit_products/{{ product.id }}">Edit Game</a>
                        <br>
                        <a class="btn btn-outline-danger" style="width: 200px; margin-top:5px" type="button" href="/delete_products/{{ product.id }}">Delete Game</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div></center>
{% endblock %}